Dit is een PDF test pagina!<br />
<br />
Ik wil proberen om Tables
<table border="1">
    <tr>
        <td colspan="2">Rij 1</td>
    </tr>
    <tr>
        <td>Rij 2 col 1</td>
        <td>Rij 2 col 2</td>
    </tr>
</table>
Of Divs te gebruiken
<div>
    Div 1
</div>
<div>
    Div 2
</div>
<div>
    Div 3 base
    <div>
        Div 3 inner
    </div>
    Div text after inner
</div>
Ik ben benieuwd!
